<script>

    // 중고 책 게시글 등록 
    function create_board() {
        let title = $('#title').val()
        let img = $('#img').val()
        let description = $('#description').val()
        let condition = $('#condition').val()
        let price = $('#price').val()
        let location = $('#location').val()
        let genre = $('#genre').val()
        let contact = $('#contact').val()
        let is_selling = $('#is_selling').val()

        $.ajax({
            type: "POST",
            url: '/post',
            data: {
                title_give: title,
                img_give: img,
                description_give: description,
                condition_give: condition,
                price_give: price,
                location_give: location,
                genre_give: genre,
                contact_give: contact,
                is_selling_give: is_selling
            },
            success: function (response) {
                alert(response["msg"])
                window.location.replace('/list') //href가 아닌 replace는 뒤로가기 안됨, 이전 데이터를 저장하는 형태가 아님 
            }
        });
    }

    // 중고책 글 수정 
    function update_board() {
        let num = $('#num').val()
        let img = $('#img').val()
        let title = $('#title').val()
        let description = $('#description').val()
        let condition = $('#condition').val()
        let price = $('#price').val()
        let location = $('#location').val()
        let genre = $('#genre').val()
        let contact = $('#contact').val()
        let is_selling = $('#is_selling').val()
        console.log('number확인', num)
        id = Number(num)
        let url = '/post/' + id

        $.ajax({
            type: "PATCH",
            url: url,
            data: {
                num_give: num,
                title_give: title,
                img_give: img,
                description_give: description,
                condition_give: condition,
                price_give: price,
                location_give: location,
                genre_give: genre,
                contact_give: contact,
                is_selling_give: is_selling
            },
            success: function (response) {
                alert(response["msg"])
                window.location.replace('/post/' + id)
            }
        });

    }

    // 중고책 게시글 삭제 
    function delete_board() {
        if (confirm("정말 삭제하시겠습니까?") == true) {

            let num = $('#num').val()
            id = Number(num)

            $.ajax({
                type: "PATCH",
                url: '/post/' + id + `/delete`,
                data: {
                    num_give: id, //`${id}`
                    is_delete_give: true,
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.replace('/list') //index 페이지로 이동해야 함
                }
            });
        } else {
            return;
        }
    }

</script>