{% extends "base.html" %} {% block content %}
<div>
<h1>signin</h1>
    <form action="{{ url_for('account.api_signin') }}" method="post">
        <div>
            <label for="usermail">Email</label>
            <input type="email" name="usermail" required />
        </div>
        <div>
            <label for="userpw">Password</label>
            <input type="password" name="userpw" required />
        </div>
        <input type="submit" value="로그인">
    </form>
    <form action="{{ url_for('account.signup') }}">
        <button>회원가입</button>
    </form>
        {% with messages = get_flashed_messages()  %} {% if messages %}
            {{ messages[0] }}
        {% endif %}
        {% endwith %}
</div>


{% endblock %}