{% extends "base.html" %} {% block content %}
<section>
    <div class="signin">
        <div class="signup_box">
            <div class="image">
                <img class="fit-picture"
                     src="/static/open-book%202.png">
            </div>
            <div class="input_boxup">
                <h1 class="sign_title">헌책줄게</h1>
                <form action="{{ url_for('account.api_signup') }}" method="post">
                    <div class="labeln">
                        <label for="usermail"></label>
                        <input class="input is-rounded is-small btnup" type="email" name="usermail" style="width:300px;" placeholder="이메일을 입력하세요" required/>
                    </div>
                    <div class="labeln">
                        <label for="usernickname"></label>
                        <input class="input is-rounded is-small btnup" type="text" name="usernickname" style="width:300px;" placeholder="닉네임을 입력하세요" required/>
                    </div>
                    <div class="labeln">
                        <label for="userpw"></label>
                        <input class="input is-rounded is-small btnup" type="password" name="userpw" style="width:300px;" placeholder="비밀번호를 입력하세요" required/>
                    </div>
                    <div class="labeln">
                        <label for="userpwcheck"></label>
                        <input class="input is-rounded is-small btnup" type="password" name="userpwcheck" style="width:300px;" placeholder="비밀번호를 재입력하세요" required/>
                    </div>

                     <div class="pw_error_msg">
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    {{ messages[0] }}
                    {% endif %}
                    {% endwith %}
                    </div>

                    <input id="btn" type="submit" class="button is-warning btn" value="완료">

                </form>
            </div>
        </div>
</section>

{% endblock %}