<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/head.html' %}
    {% include 'components/head_script.html' %}

    <title>수정페이지</title>    
    
</head>
<body>
    {% include 'common/navbar.html' %}

{% block content %}
    <div class="posting">
        {% include '/components/list_btn.html' %}

        <div class="top-container">
            <p class="num-container" >글번호:</p>
            <input id="num" class="num-container" value="{{ post['num'] }}" readonly="readonly">
        </div>

        {% include '/components/update_name.html' %}

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text" for="is_selling">구 분</label>
            </div>
            <div class="flex-item">
                <select class="form-select" id="is_selling">
                    <option value="1" {% if post['is_selling']==true %}selected{% endif %}>팝니다</option>
                    <option value="0" {% if post['is_selling']==false %}selected{% endif %}>삽니다</option>
                </select>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text" for="genre">장 르</label>
            </div>
            <div class="flex-item">
                <select class="form-select" id="genre">
                    <option value="소설"
                        {% if post['genre']=='소설'%} selected {% endif %}
                    >소설</option>
                    <option value="자기계발"
                        {% if post['genre']=='자기계발'%} selected {% endif %}
                    >자기계발</option>
                    <option value="외국어"
                        {% if post['genre']=='외국어'%} selected {% endif %}
                    >외국어</option>
                    <option value="수험서"
                        {% if post['genre']=='수험서'%} selected {% endif %}
                    >수험서</option>
                    <option value="취미"
                        {% if post['genre']=='취미'%} selected {% endif %}
                    >취미</option>
                    <option value="기타"
                        {% if post['genre']=='기타'%} selected {% endif %}
                    >기타</option>
                </select>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text">책 이 름</label>
            </div>
            <div class="flex-item">
                <input id="title" type="text" class="form-control" value="{{ post['title'] }}">
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text">책 사 진</label>
            </div>
            <div class="flex-item">
                <input id="img" type="text" class="form-control" placeholder="{{ post['img'] }}">
                <img class="book-small-img" src="{{ post['img']}}">
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text" for="condition">책 상 태</label>
            </div>
            <div class="flex-item">
                <select class="form-select" id="condition">
                    <option value="1" {% if post['condition'] == '1' %}selected{% endif %}>아주좋음</option>
                    <option value="2" {% if post['condition'] == '2' %}selected{% endif %}>좋음</option>
                    <option value="3" {% if post['condition'] == '3' %}selected{% endif %}>보통</option>
                    <option value="4" {% if post['condition'] == '4' %}selected{% endif %}>낡음</option>
                    <option value="5" {% if post['condition'] == '5' %}selected{% endif %}>아주낡음</option>
                </select>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text">판매가격</label>
            </div>
            <div class="flex-item">
                <input class="form-control" id="price" value="{{ post['price'] }}">
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text">내 용</label>
            </div>
            <div class="flex-item">
                <textarea id="description" >{{ post['description'] }}</textarea>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text">지 역</label>
            </div>
            <div class="flex-item">
                <input id="location" type="text" class="form-control" value="{{ post['location'] }}">
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <label class="input-group-text">연 락 처</label>
            </div>
            <div class="flex-item">
                <input id="contact" type="text" class="form-control" value="{{ post['contact'] }}">
            </div>
        </div>

        <div class="board-btn">
            <button onclick="update_board()" type="button" class="btn btn-dark post-btn" id="btn-save">수정하기</button>
        </div>
    </div>
{% endblock %}
</body>
</html>