<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "Keywords" content = "헌책줄게, 중고책, 웹 포트폴리오, 헌책, 중고나라, 당근마켓, 알라딘">
    <meta name = "Description" content = "안녕하세요, 중고책 거래 전문 사이트 헌책줄게입니다.">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2224/2224395.png">

    <link rel ="stylesheet" href = "{{ url_for('static', filename='navbar.css')}}" type="text/css">
    <link rel ="stylesheet" href = "{{ url_for('static', filename='board.css')}}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">    
    <title>헌책줄게</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_menu">
                <i class="test"></i>
                <a class="navbar_logo" href="">헌책줄게</a>
            <ul class="navbar_select">
                <li><a href="">판매하기</a></li>
                <li><a href="">구매하기</a></li>
            </ul>
        </div>
        <ul class="navbar_login">
            <li><a class="login" href="">로그인</a></li>
        </ul>
    </nav>
</body>