<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="헌책줄게, 중고책, 웹 포트폴리오, 헌책, 중고나라, 당근마켓, 알라딘">
    <meta name="Description" content="안녕하세요, 중고책 거래 전문 사이트 헌책줄게입니다.">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--buootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- icon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2224/2224395.png">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}" type="text/css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/800px-Apple_logo_black.svg.png">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel ="stylesheet" href = "{{ url_for('static', filename='signin.css')}}" type="text/css">
    <link rel ="stylesheet" href = "{{ url_for('static', filename='signup.css')}}" type="text/css">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>