<!DOCTYPE html>
<html lang="en">
<head>
       {% include 'common/head.html' %}
    <link rel ="stylesheet" href = "{{ url_for('static', filename='css/global.css')}}" type="text/css">
    <link rel ="stylesheet" href = "{{ url_for('static', filename='css/welcome.css')}}" type="text/css">
    <title>헌책줄게-환영합니다!</title>
</head>
<body>
    <div id="welcome_boarder">
        <h1>
            <img src = "{{ url_for('static', filename='image/logo.gif') }}" alt="logo.gif" ></img>
            <div style="font-weight: bold;font-size:4rem">헌책줄게</div>
            <div style="font-weight: normal; font-size:14px">헌책줄게 서비스는 중고책 거래 서비스입니다.</div>
            <button id="to_list" onclick="window.location.href='list'">더 알아보기</button>
        </h1>
    </div>
</body>
</html>